.DiaryEditor {
  border-bottom: 1px solid #757575;
  background: grey;
  text-align: center;
  padding: 50px;
  margin: 0;
}

h2 {
  font-size: 50px;
  text-align: center;
}

.DiaryEditor input,
textarea {
  margin-bottom: 20px;
  width: 600px;
  padding: 10px;
}

.DiaryEditor textarea {
  height: 200px;
}

.DiaryEditor span {
  font-size: 30px;
}

.DiaryEditor select {
  width: 100px;
  padding: 5px;
  margin-bottom: 70px;
  font-size: 30px;
}

.DiaryEditor button {
  width: 164px;
  height: 50px;
  background-color: #333333;
  color: #fff;
  border-style: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* DiaryList */
.DiaryList {
  text-align: center;
  border-bottom: 1px solid #757575;
  text-align: start;
  padding: 50px;
  margin: 0;
}

/* DiaryItem */
.DiaryItem {
  background: rgba(240, 240, 240, 0.7);
  margin-bottom: 20px;
  padding: 20px;
}

.DiaryItem .author {
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.DiaryItem .date {
  color: grey;
  margin-top: 5px;
}

.DiaryItem .content {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
}
